body {
    font-family: "Open Sans", sans-serif;
    color: #7581a1;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 1.1;
    letter-spacing: -2.5px;
    margin-bottom: 65px;
}



.title-50 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
    color: #192b59;
}

.title-50>span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1085e4;
    margin-bottom: 14px;
}

.page-stat .title-50 {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.title-40 {
    font-size: 40px;
    letter-spacing: -1.1px;
    font-weight: 600;
    line-height: 1.2;
    color: #192b59;
}

.title-40>span {
    display: block;
    font-size: 18px;
    letter-spacing: 3.5px;
    margin-bottom: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1085e4;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    display: block;
    width: 181px;
    height: 49px;
}

.box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 304px;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav > li {
    padding: 0 20px;
}

.nav > li:last-child {
    padding-right: 0;
}

.nav-item {
    color: #6e7ea9;
}

.header-screen {
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;
}

.btn-primary {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
    background: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-primary:hover {
    color: #1085e4;
    background: transparent;
}

.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #7e8bae;
    background: #cbdbe8;
    border: 1px solid #cbdbe8;
    padding: 20px 40px;
    border-radius: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-secondary:hover {
    background: #fff;
}

.free-btn {
    font-weight: 400;
    letter-spacing: 1.7px;
    padding: 21px 56px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-menu {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: none;
}

.btn-menu:focus {
    outline: none;
}

.btn-menu svg {
    width: 35px;
    height: 35px;
    fill: #192b59;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    background-color: #fff;
    padding: 30px 15px 45px;
    -webkit-box-shadow: 0px 5px 6px #f4f4f4;
            box-shadow: 0px 5px 6px #f4f4f4;
    border-radius: 10px;
}

.nav-modal {
    list-style-type: none;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.nav-modal > li {
    margin-bottom: 12px;
}

.nav-modal > li:last-child {
    margin-top: 35px;
}

.btn-close {
    position: absolute;
    right: 20px;
    top: 15px;
    background: transparent;
    border: none;
    font-size: 35px;
    padding: 0;
    cursor: pointer;
    color: #6e7ea9;
    opacity: 0.4;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-close:hover {
    opacity: 1;
}

.btn-close:focus {
    outline: none;
}

.btn-group a + a {
    margin-left: 15px;
}

.list-company {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.company-one {
    background-image: url(../img/company-1.png);
    background-repeat: no-repeat;
    -ms-flex-preferred-size: 198px;
        flex-basis: 198px;
    height: 58px;
}

.company-two {
    background-image: url(../img/company-2.png);
    background-repeat: no-repeat;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    height: 69px;
}

.company-three {
    background-image: url(../img/company-3.png);
    background-repeat: no-repeat;
    -ms-flex-preferred-size: 201px;
        flex-basis: 201px;
    height: 47px;
}

.company-four {
    background-image: url(../img/company-4.png);
    background-repeat: no-repeat;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    height: 69px;
}

.btn-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #8085b1;
    background: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 40px;
    border-radius: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-info:hover {
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
    color: #fff;
}

.page-grid .title-40 {
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1px;
    margin-top: 0;
}

.page-grid .title-40>span {
    display: block;
    font-size: 14px;
    letter-spacing: 3px;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 35px auto 35px auto 35px auto 35px auto;
        grid-template-areas: "a b c" "d b c" "d e f" "g e f" "g h h";
    grid-gap: 35px;
    -ms-grid-columns: 1fr 35px 1fr 35px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.grid-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
}

.grid-item-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    grid-area: b;
}

.grid-item-2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
    grid-area: c;
}

.grid-item-3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: d;
}

.grid-item-4 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    grid-area: e;
}

.grid-item-5 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
    grid-area: f;
}

.grid-item-6 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: g;
}

.grid-text {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: h;
    padding: 0 14px;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -0.5px;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
}

.grid-item {
    text-align: center;
    -webkit-box-shadow: 0px 5px 6px #f3f3f3;
            box-shadow: 0px 5px 6px #f3f3f3;
    border-radius: 10px;
    padding: 40px 29px 64px;

}

.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 20px;
    height: 92px;
    background-position: center;
}

.grid-icon-1 {
    background-image: url(../img/icon1.png);
    background-size: 73px 79px;
}

.grid-icon-2 {
    background-image: url(../img/icon2.png);
    background-size: 89px 85px;
}

.grid-icon-3 {
    background-image: url(../img/icon3.png);
    background-size: 79px 82px;
}

.grid-icon-4 {
    background-image: url(../img/icon4.png);
    background-size: 85px 90px;
}

.grid-icon-5 {
    background-image: url(../img/icon5.png);
    background-size: 100px 87px;
}

.grid-icon-6 {
    background-image: url(../img/icon6.png);
    background-size: 103px 92px;
}

.author {
    font-size: 14px;
    color: #1085e4;
    margin-bottom: 0px;
}

.author span {
    font-weight: 700;
    color: #192b59;
    font-size: 16px;
}

.box-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.page-subscribe .title-50 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 28px;
}

.page-subscribe .title-50 span {
    font-size: 14px;
    color: #00bffe;
    margin-bottom: 19px;
}

.box-subscribe-text {
    color: #dfe8ff;
    font-size: 18px;
    max-width: 420px;
    margin-bottom: 35px;
}

.subscribe-child {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
}

.box-subscribe-user {
    position: relative;
}

.box-subscribe-user input {
    border: 2px solid #3d52aa;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 215px 25px 38px;
    font-size: 14px;
    color: #fff;
}

.box-subscribe-user input:focus {
    outline: none;
}

.box-subscribe-user .btn-primary {
    position: absolute;
    padding: 16px 44px;
    font-size: 14px;
    right: 14px;
    top: 11px;
    outline: none;
}

.box-subscribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subscribe-user input::-moz-placeholder {color:#b1c3ee;}
.box-subscribe-user input:-moz-placeholder {color:#b1c3ee;}
.box-subscribe-user input:-ms-input-placeholder {color:#b1c3ee;}

.software-pic {
    display: block;
    background-image: url(../img/software-pic.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 48%;
    height: 974px;
    position: absolute;
    left: -2%;
    bottom: -18px;
    z-index: -1;
}

.page-software-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.page-software-flex>div {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
}

.settings-icon {
    display: block;
    background-image: url(../img/software-icon.png);
    background-repeat: no-repeat;
    background-position: -25px 0;
    height: 97px;
    width: 115px;
}

.page-software .title-50, .page-analytics .title-50, .page-analyzing .title-50{
    margin-top: 8px;
    margin-bottom: 26px;
    max-width: 560px;
}

.page-software .title-50 {
    letter-spacing: -0.9px;
}

.page-software-list {
    margin-top: 30px;
    height: 320px;
    overflow: auto;
}

.page-software-list::-webkit-scrollbar { width: 4px; height: 4px;}
.page-software-list::-webkit-scrollbar-button {  background-color: #1085e4;}
.page-software-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-software-list::-webkit-scrollbar-thumb { height: 50px; background-color:#1085e4; border-radius: 10px;} 

.page-software-list dt{
    color: #5a6789;
    font-weight: 700;
    margin-bottom: 10px;
}

.page-software-list dd {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 52px;
    line-height: 24px;
    padding-right: 40px;
}

.list-stat{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 76px;
    padding-left: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.list-stat>li {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    letter-spacing: 2.7px;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
}

.content-app {
    width: 55%;
}

.content-app .title-50 {
    margin-bottom: 36px;
}

.page-app-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4d2dd;
    letter-spacing: 3px;
    margin-top: 27px;
    margin-bottom: 18px;
}

.page-app-link {
    list-style-type: none;
    padding: 0;
    margin-left: -15px;
}

.page-app-link>li {
    display: inline-block;
}

.page-app-link>li>a {
    background-image: url(../img/app.png);
    background-repeat: no-repeat;
    display: block;
    width: 187px;
    height: 81px;
}

.page-app-android {
    background-position: 0 0;
}

.page-app-ios {
    background-position: -191px 0;
}

.page-app .wrap {
    position: relative;    
}

.video-app {
    position: absolute;
    top: -59px;
    right: -168px;
}

.page-app .intro {
    color: rgba(0,0,0,0.04);
    font-size: 300px;
    font-weight: 900;
    position: absolute;
    top: 25px;
    margin: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.flex-analytics, .flex-analyzing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-analytics>div , .flex-analyzing>div{
    -ms-flex-preferred-size: 54%;
        flex-basis: 54%;
}

.page-analytics-text , .page-analyzing-text{
    margin-bottom: 50px;
}

.page-analyzing .btn-primary {
    padding: 20px 63px;
}

.screen {
    margin-top: 38px;
    margin-bottom: -7px;
    width: 100%;
    max-width: 1288px;
}

.page-clients .title-40, .page-team .title-40 {
    color: #fff;
}

.page-clients .title-40>span, .page-team .title-40>span {
    color: #85c8ff;
}

.box-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 63px;
}

.box-clients-items {
    background-color: #fff;
    font-size: 14px;
    color: #8085b1;
    border-radius: 10px;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    padding: 22px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 6px #f3f3f3;
            box-shadow: 0px 5px 6px #f3f3f3;
}

.box-clients-items>p {
    margin-top: 12px;
    margin-bottom: 6px;
    line-height: 24px;
}

.box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box-info>div {
    padding-left: 20px;
}

.box-info .name {
    font-size: 22px;
    font-weight: 600;
    color: #000958;
    margin-bottom: 0;
    letter-spacing: -0.7px;
    line-height: 1.1;
}

.box-info .position {
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 2.8px;
}

.box-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 83px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.box-price-item > h3 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #000958;
    margin-top: 0;
    margin-bottom: 16px;
}

.box-price-item:first-child > h3 {
    margin-bottom: 36px;
}

.box-price-item > h3 > span {
    font-size: 20px;
}

.box-price-item > p {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #0084ff;
}

.box-price-item.active>h3, .box-price-item.active>p {
    color: #fff;
}

.box-price-item > h3 > .mo {
    color: #7b8ab2;
}

.box-price-item>ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 60px;;
}

.box-price-item>ul>li {
    margin-bottom: 14px;
}


.box-price-item {
    background-color: #f5faff;
    position: relative;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    padding: 90px 0 96px;
}

.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}

.box-price-item > a {
    padding: 20px 62px;
}

.box-price-item::after {
    content: "";
    width: 59px;
    height: 100%;
    position: absolute;
    background-image: url(../img/triangle.svg);
    background-repeat: no-repeat;
    top: 0;
    right: 0;
}

.box-price-item.active::after {
    display: none;
}

.box-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 138px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.box-team-item {
    background-color: #fff;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    position: relative;
    padding: 200px 54px 40px 54px;
    -webkit-box-shadow: 0px 5px 6px #f3f3f3;
            box-shadow: 0px 5px 6px #f3f3f3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.box-team-item .avatar {
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.box-team-item .position {
    font-size: 14px;
    font-weight: 800;
    color: #1a88e1;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.box-team-item .name {
    font-size: 26px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -0.7px;
    margin-top: 8px;
}

.box-team-item .btn-team {
    background: #f3f3f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 100%;
    border: none;
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.box-team-item .btn-team:hover {
    background-color: #1a88e1;
}

.box-team-item .btn-team span {
    background-image: url(../img/btn-team.png);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 21px;
    margin: 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.box-team-item .btn-more span {
    background-position: -14px -15px;
}

.box-team-item .btn-more:hover span {
    background-position: -14px -49px;
}

.box-team-item .btn-team:focus {
    outline: none;
}

.box-team-item .social-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    margin: 0;
}

.box-team-item .btn-fb span {
    background-position: -52px -15px;
}

.box-team-item .btn-fb:hover span {
    background-position: -52px -49px;
}

.box-team-item .btn-tw span {
    background-position: -92px -15px;
}

.box-team-item .btn-tw:hover span {
    background-position: -92px -49px;
}

.box-team-item .btn-be span {
    background-position: -130px -15px;
}

.box-team-item .btn-be:hover span {
    background-position: -130px -49px;
}

.box-team-item .btn-web span {
    background-position: -167px -15px;
}

.box-team-item .btn-web:hover span {
    background-position: -167px -49px;
}

.object-circle {
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    display: block;
    width: 445px;
    height: 663px;
    position: absolute;
    left: 0;
    bottom: -260px;
    background-size: contain;
}

.object-rhombus {
    background-image: url(../img/rhombus.png);
    background-repeat: no-repeat;
    display: block;
    width: 601px;
    height: 672px;
    position: absolute;
    right: 0;
    top: -223px;
    background-size: contain;
}

.flex-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 1090px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-form > div {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
}

.flex-form > img {
    margin-right: 64px;
}

.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 51px;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #dce4ec;
    border-radius: 33px;
    font-size: 14px;
    color: #8995b3;
    padding: 24px 65px 24px 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}

.contact-form input, .contact-form textarea:focus {
    outline: none;
}

.contact-form-item {
    margin-bottom: 21px;
    position: relative;
}

.contact-form-item::after {
    content: "";
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 39px;
}

.contact-form-name::after {
    background-image: url(../img/icon-user.png);
    width: 13px;
    height: 15px;
    top: calc(50% - 7px);
}

.contact-form-mail::after {
    background-image: url(../img/icon-mail.png);
    width: 14px;
    height: 11px;
    top: calc(50% - 5px);
}

.contact-form-text::after {
    background-image: url(../img/icon-pen.png);
    width: 14px;
    height: 15px;
    top: 27px;
}

.contact-form-text textarea {
    resize: none;
    min-height: 160px;
}

.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {color:#8995b3;}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {color:#8995b3;}
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {color:#8995b3;}
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {color:#8995b3;}

.contact-form .btn-primary {
    padding: 22px 40px 22px 62px;
    position: relative;
    margin-top: 17px;
    max-width: 230px;
    letter-spacing: 2px;
    outline: none;
}

.contact-form .btn-primary::before {
    content: "";
    background-image: url(../img/icon-plane.png);
    background-repeat: no-repeat;
    display: block;
    width: 12px;
    height: 13px;
    left: 52px;
    top: calc(50% - 6px);
    position: absolute;
}

.flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.flex-footer > p {
    color: #b6bae0;
}

.flex-footer > p > a {
    color: #1085e4;
    text-transform: uppercase;
}

.text-foter {
    margin-top: 13px;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social > li {
    margin-right: 23px;
}

.social > li:last-child {
    margin-right: 0;
}

.link-facebook svg, .link-twitter svg,
.link-pinterest svg, .link-foursquare svg {
    width: 17px;
}

.link-behance svg {
    width: 19px;
}

.social-link svg path {
    fill: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.social-link:hover svg path {
    fill: #1085e4;
}
    
/* PAGES */

.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 53px 0 331px 0;
    position: relative;
}

.page-company {
    background-image: url(../img/company-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 0 100px 0;
}

.page-grid {
    padding: 102px 0 116px 0;
}

.page-subscribe {
    padding: 52px 0;
    background: rgba(10,32,144,1);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -o-linear-gradient(315deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}

.page-software {
    font-size: 16px;
    padding: 113px 0 168px 0;
    position: relative;
    overflow: hidden;
}

.page-stat, .page-screen {
    background: #edf6ff;
}

.page-stat {
    padding: 116px 0 96px 0;
    position: relative;
}

.page-app {
    padding: 69px 0 82px 0;
}

.page-analytics {
    background-image: url(../img/bg-analytics.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0 139px 0;
}

.page-analyzing {
    background-image: url(../img/bg-analyzing.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0 139px 0;
}

.page-screen, .page-plan {
    text-align: center;
}

.page-screen {
    padding-top: 83px;
}

.page-clients {
   position: relative;
   margin-top: 120px;
   padding-top: 42px;
}

.page-clients::before {
    content: "";
    display: block;
    background-image: url(../img/bg-clients.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.page-plan {
    padding: 85px 0 120px 0;
}

.page-team {
    background-image: url(../img/bg-team.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 84px 0 120px 0;
}

.page-form {
    background-image: url(../img/bg-form.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 69px 0 119px 0;
}

.page-footer {
    background-color: #192b59;
    padding: 9px 0;
}

/* MEDIA */


@media(max-width: 1750px) {
    .header-screen {
        width: 45%;
        height: 650px;
        top: 258px;
        background-size: cover;
    }

    .video-app {
        top: -23px;
        right: 0;
    }
    .video-app img {
        width: 480px;
    }
}


@media(max-width: 1300px) {
    .software-pic {
        display: none;
    }
    .page-software {
        padding: 60px 0;
    }
    .page-software-flex {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .page-software-flex>div {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .page-software-list {
        max-width: 800px;
        margin-right: 50px;
        height: 265px;
    }
}    

@media(max-width: 1100px) {
    .wrap, .flex-form {
        max-width: 800px;
    }

    .nav, .header-screen, .object-rhombus, .object-circle  {
        display: none;
    }
    .btn-menu {
        display: block;
    }
    .header-content {
        text-align: center;
    }
    h1 {
        margin: 0 auto 65px;
    }
    .title-40 span {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .title-50 {
        font-size: 40px;
    }
    .box-header {
        margin-bottom: 100px;
    }
    .page-header {
        padding-bottom: 150px;
    }

    .page-company {
        padding: 50px 0 0 ;
    }
    .list-company-item {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        margin-bottom: 50px;
        background-position: center;
    }

    .page-subscribe {
        padding: 50px 0 65px 0;
    }
    .box-subscribe img {
        max-width: 280px;
        margin-left: 20px;
    }
    .subscribe-child {
        -ms-flex-preferred-size: 58%;
            flex-basis: 58%;
    }
    .grid {
    -ms-grid-rows: auto 35px auto 35px auto 35px auto 35px auto;
        grid-template-areas: "a a" "b c" "d e" "f g" "h h";
    -ms-grid-columns: 1fr 35px 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    }
    .grid-title {
    text-align: center;
    }
    .page-grid .title-40>span {
    line-height: 0;
    }

    .page-app {
        padding: 340px 0 50px 0;
    }
    .video-app {
        top: -340px;
        right: 0;
        left: 0;
        text-align: center;
        margin-left: 50px;
    }
    .video-app img {
    width: 335px;
    }
    .content-app {
        width: 100%;
        text-align: center;
    }

    .flex-analytics img, .flex-analyzing img, .flex-form img {
        max-width: 350px;
        width: 100%;
    }
    .flex-analytics img, .flex-form img {
        margin-right: 20px;
    }
    .flex-analyzing img{
        margin-left: 20px;
    }

    .box-clients-items {
        -ms-flex-preferred-size: 32%;
            flex-basis: 32%;
        padding: 15px 30px;
    }
    .box-info img {
        max-width: 40px;
    }
    .page-clients {
        margin-top: 60px;
    }
    .box-info .name {
        font-size: 18px;
    }
    .box-info .position {
        font-size: 12px;
    }

    .box-price-item::after {
        width: 50px;
    }
    .box-price-item h3 {
        font-size: 60px;
    }
    .box-price .btn-primary, .box-price .btn-info {
        padding: 20px 40px;
    }

    .box-team-item {
        padding: 120px 31px 30px 31px;
    }
    .box-team-item .avatar {
        max-width: 200px;
    }
    .box-team-item .name {
        font-size: 20px;
        margin-top: 4px;
    }
    .box-team-item .position {
        font-size: 12px;
    }
    .flex-form> div {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
    .grid-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .grid-item-1 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
    .grid-item-2 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
    }
    .grid-item-3 {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
    .grid-item-4 {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
    }
    .grid-item-5 {
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
    .grid-item-6 {
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
    }
    .grid-text {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}

@media (max-width: 930px) {
    .intro {
        display: none;
    }
    .box-price {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
    }
    .box-price-item {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin-bottom: 20px;
    }
}


@media(max-width: 820px) {
    .box-subscribe {
        max-width: 520px;
    }
    .box-subscribe img {
        display: none;
    }
    .subscribe-child {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        text-align: center;
    }
    .box-subscribe-text {
        margin: 0 auto 30px;
     }

    .box-clients {
        margin-top: 34px;
    }
    .box-clients-items {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin-bottom: 20px;
        background-color: #eef4fa;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .page-clients .title-40 {
        text-align: center;
    }
    .page-clients {
        padding: 20px 0 0 0;
    }

    .page-plan {
        padding: 30px 0 100px 0;
    }

    .page-team .title-40 {
        margin-bottom: 120px;
    }
    .page-team {
        background-position: 0 0;
        padding: 30px 0 0 0;
    }
    .box-team {
        max-width: 400px;
        margin: 0 auto;
    }
    .box-team-item {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin-bottom: 120px;
        background-color: #1a2e56;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .box-team-item .name {
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .box-team-item .social-team {
        max-width: 280px;
        margin: 0 auto;
    }
    

    .settings-icon, .flex-form img {
        display: none;
    }
    .page-software .title-50, .page-analytics .title-50, .page-analyzing .title-50 {
        margin: 0 auto;
        text-align: center;
    }
    .flex-analytics, .flex-analyzing {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
        max-width: 600px;
    }
    .flex-analyzing {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .flex-analytics>div, .flex-analyzing>div {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .flex-analytics img, .flex-analyzing img {
        margin: 20px auto;
    }
    .page-analytics, .page-analyzing {
        padding: 50px 0 100px 0;
    }

    .flex-form {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-width: 450px;
    }
    .flex-form>div {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .flex-form .title-50 {
        text-align: center;
    }
    .contact-form .btn-primary {
        margin: 0 auto;
    }
    .contact-form .btn-primary::before {
        left: 40px;
    }

}

@media(max-width: 700px) {
    .page-stat {
        padding: 70px 0 50px 0;
    }
    .list-stat > li {
        -ms-flex-preferred-size: 34%;
            flex-basis: 34%;
        margin-bottom: 30px;
    }
}

@media(max-width: 600px) {
   body {
        font-size: 14px;
        line-height: 22px;
    }
    h1 {
        font-size: 46px;
        margin: 0 auto 30px;
        max-width: 300px;
    }
    .title-40, .title-50, .page-grid .title-40 {
        font-size: 30px;
    }
    .wrap, .flex-form, .grid {
        max-width: 450px;
    }

    .page-header {
        padding-bottom: 130px;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .btn-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 260px;
        margin: 0 auto;
    }
    .btn-group a + a {
    margin-left: 0;
    }
    .btn-group > a {
        margin-bottom: 10px;
    }
    .btn-primary, .btn-secondary {
        font-size: 11px;
        padding: 12px 30px;
    }
    .page-header {
        padding-bottom: 100px;
    }
    .box-header {
        margin-bottom: 80px;
    }
    
    .list-company-item {
        background-size: contain;
    }
    .company-one {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        height: 44px;
    }
    .company-two {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        height: 52px;
    }
    .company-three {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        height: 35px;
    }
    .company-four {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        height: 52px;
    }

    .page-grid {
        padding: 80px 0 64px 0;
    }
    .grid {
        -ms-grid-rows: auto 35px auto 35px auto 35px auto 35px auto 35px auto 35px auto 35px auto;
            grid-template-areas: "a" "b" "c" "d" "f" "g" "e" "h";
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .grid-item h3 {
        font-size: 16px;
    }

    .box-subscribe-user {
        max-width: 300px;
        margin: 0 auto;
    }
    .box-subscribe-user input {
        padding: 17px 15px 17px 15px;
        text-align: center;
    }
    .box-subscribe-user .btn-primary {
        position: inherit;
        width: 100%;
        right: 0;
        top: 0;
        margin-top: 20px;
        padding: 17px 50px;
    }

    .list-stat>li>span {
        font-size: 50px;
    }

    .box-price {
        max-width: 300px;
    }
    .box-price-item {
        padding: 50px 0 65px 0;
    }
    .box-price-item h3 {
        font-size: 42px;
        margin-bottom: 12px;
    }
    .box-price-item h3 span {
        font-size: 15px;
    }
    .box-price-item p {
        font-size: 12px;
    }
    .box-price-item ul {
        margin-top: 22px;
        margin-bottom: 45px;
        font-size: 13px;
    }
    .box-price-item ul>li {
        margin-bottom: 10px;
    }
    .box-price .btn-primary {
        padding: 12px 40px;
    }

    .page-form {
        background-image: none;
        padding: 35px 0 60px 0;
        background-color: #eef6fd;
    }
    .contact-form {
        margin-top: 30px;
    }
    .contact-form input, .contact-form textarea {
        padding: 18px 80px 18px 30px;
        border-radius: 10px;
    }

    .footer-flex {
        text-align: center;
    }

    .video-app {
        margin-left: 0;
    }
    .grid-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .grid-item-1 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
    .grid-item-2 {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
    .grid-item-3 {
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
    .grid-item-4 {
        -ms-grid-row: 13;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
    .grid-item-5 {
        -ms-grid-row: 9;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
    .grid-item-6 {
        -ms-grid-row: 11;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
    .grid-text {
        -ms-grid-row: 15;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
}

@media (max-width: 450px) {
    .title-40, .title-50, .page-grid .title-40 {
        font-size: 25px;
    }

    .logo {
        width: 148px;
        height: 40px;
        background-size: contain;
    }
    .btn-menu svg {
        width: 30px;
        height: 30px;
    }
    .box-header {
        margin-bottom: 60px;
    }
    .page-header {
        padding: 21px 0 70px 00;
    }
    .btn-group {
        max-width: 230px;
    }

    .page-company {
        padding: 50px 0;
    }
    .list-company-item {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .list-company-item:last-child {
        margin-bottom: 0;
    }

    .page-stat {
        padding: 60px 0 30px 0;
    }
    .list-stat {
        margin-top: 50px;
    }

    .page-app-link > li {
        display: block;
    }
    .page-app-link > li> a {
        margin: 0 auto;
    }

    .page-screen {
        padding: 50px 0 0 0;
    }

    .page-form {
        padding: 60px 0;
    }
    .flex-form .title-50 {
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .video-app {
        top: -310px;
    }
    .video-app img {
        width: 270px;
    }

    .flex-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    }
    .social {
        margin: 14px auto;
        padding-left: 0;
    }
}